@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    font-family: 'Open Sans', sans-serif;
}

#box
{
   border: 1px solid #aaaaaa;
   width: 1000px;
   height: 800px;
   margin: 50px auto; 
   border-radius: 40px;
}

#innerBox1
{
    margin: 50px 50px;
}

#innerBox2
{
    border: 1px solid #555555;
    width: 950px;
    height: 570px;
    margin: 30px auto;
    border-radius: 30px;
}

#innerBox2 div:not(#schoolActivity)
{
    height: 113px;
    border-bottom: 1px solid #aaaaaa;
}

#innerBox2 a
{
    font-size: 30px;
    font-weight: lighter;
    display: inline-block;
    margin: 20px 20px;
    color:black;
    text-decoration: none;
}

#innerBox2 div:hover
{
    text-shadow: 0 0 5px #aaaaaa;
}

#logoutButton
{
    font-weight: lighter;
    background-color: black;
    color: white;
    border: 1px black solid;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 35px;
    letter-spacing: 10px;
    margin-left: 210px;
}

#logoutButton:hover
{
    box-shadow: 0 0 10px black;
}

